<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <label for="">País</label>
    <select id="country" class="" name="">
        <option value="Yucatan">----</option>
    </select>
    <label for="">Estado</label>
    <select id="states" class="" name="">
      <option value="Yucatan">----</option>
    </select>
    <label for="">Ciudad</label>
    <select id="cities" class="" name="">
      <option value="">----</option>
    </select>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js" charset="utf-8"></script>
  <!-- ./ Template render-->
  <script id="tmpOption" type="text/x-jsrender">
    <option value="{{:name}}" id="{{:id}}">{{:name}}</option>
  </script>

  <script type="text/javascript">
    var countries = new Array();
    var states = new Array();
    var cities = new Array();

    $(function() {
        // Code here
        $.getJSON("countries.json", function(json) {
            countries = json.countries;

            $('#country').html($('#tmpOption').render(countries));
        });
        $.getJSON("states.json", function(json) {
            states = json.states;
        });

        $.getJSON("cities.json", function(json) {
            cities = json.cities;
        });
    });

    $(document).on('change', '#country', function() {
        // console.log($(this).find("option:selected").attr('id'));
        var id = $(this).find("option:selected").attr("id");
        var elements = findElements('country_id', id, states);
        if (!elements.length) {
            $('#states').html('<option>----</option>');
        }
        $('#states').html($('#tmpOption').render(elements));
    });

    // Evento para estados
    $('#states').change(function() {
        var id_estado = $(this).find("option:selected").attr("id");
        var elements = findElements('state_id', id_estado, cities);
        console.log(elements);
        if (!elements.length) {
            $('#states').html('<option>----</option>');
        }

        var elementsHtml = $('#tmpOption').render(elements);
        $('#cities').html(elementsHtml);
    });

    function findElements(tagName, val, json){
        var elements = new Array();
        for (var i = 0; i < json.length ; i ++) {
            if(json[i] != undefined){
                if(json[i][tagName] != undefined){
                    if (json[i][tagName] == val) {
                        elements.push(json[i]);
                    }
                }
            }
        }
        return elements;
    }

  </script>
</html>
